<div class="main-auth p-0 m-0">
    <div class="container h-100">
        <div class=" row align-items-center h-100">
            <div class="col-12">
                <div class="row justify-content-center ">
                    <div class="col-sm-8">
                        <h3 class="text-center"> while(!( succeed = try());</h3>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-sm-8 ">
                        <div class="login-box">
                            <!-- <div class="message-cont" *ngIf='!!message'>
                                <h4  class="alert-message p-2 rounded">{{ message}}</h4>
                            </div> -->
                            <mat-tab-group [disableRipple]="true" dynamicHeight mat-align-tabs="center"
                            [selectedIndex]="selected.value"
                            >
                                <mat-tab label="Login">
                                    <form [formGroup]="loginForm" (ngSubmit)="login();" class="main-form "  (keydown.enter)="onEnterKeyDown($event,'login')">
                                        <div class="user-box my-3">
                                            <input id="user-name" type="text" formControlName="userName">
                                            <label for="user-name">User name<span class="req">*</span></label>
                                            <div *ngIf="LoginSubmitted && fval.userName.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="fval.userName.errors?.required"> User name isRequired
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-box">
                                            <input id="msg-text" type="password" formControlName="password">
                                            <label for="msg-text">Password<span class="req">*</span></label>
                                            <div *ngIf="LoginSubmitted && fval.password.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="fval.password.errors?.required">
                                                    passwordisRequired
                                                </div>

                                            </div>
                                        </div>
                                        <button class="btn" type="submit">
                                            <a>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                Submit
                                            </a>
                                        </button>

                                    </form>

                                </mat-tab>
                                <mat-tab label="Sign up">
                                    <form [formGroup]="SignupForm" (ngSubmit)="SignUp();" class="main-form "  (keydown.enter)="onEnterKeyDown($event,'SignUp')">
                                        <div class="user-box my-3">
                                            <input id="user-name" type="text" formControlName="name">
                                            <label for="user-name">Full name<span class="req">*</span></label>
                                            <div *ngIf="SignupSubmitted && SignupFval.name.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="SignupFval.name.errors?.required">Full name isRequired
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-box my-3">
                                            <input id="user-email" type="email" formControlName="email">
                                            <label for="user-email">Email<span class="req">*</span></label>
                                            <div *ngIf="SignupSubmitted && SignupFval.email.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="SignupFval.email.errors?.required"> Email isRequired
                                                </div>
                                                <div *ngIf="SignupFval.email.errors?.email">
                                                    Enter valid email</div>
                                            </div>
                                        </div>

                                        <div class="user-box my-3">
                                            <input id="user-userName" type="text" formControlName="userName">
                                            <label for="user-userName">User name<span class="req">*</span></label>
                                            <div *ngIf="SignupSubmitted && SignupFval.userName.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="SignupFval.userName.errors?.required"> User name isRequired
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-box">
                                            <input id="msg-text" type="password" formControlName="password">
                                            <label for="msg-text">Password<span class="req">*</span></label>
                                            <div *ngIf="SignupSubmitted && SignupFval.password.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="SignupFval.password.errors?.required">
                                                    password isRequired
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-box my-3">
                                            <input id="user-image" type="file" formControlName="image">
                                            <label for="user-image">Image <span class="req">*</span></label>
                                            
                                        </div>
                                        <button class="btn" type="submit">
                                            <a>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                Submit
                                            </a>
                                        </button>

                                    </form>
                                </mat-tab>
                            </mat-tab-group>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>