<div class="container-fluid listContainer">
    <div class="row ml-r-0">
        <div class="col-12 d-flex">
            <form class="OptionsForm d-flex flex-wrap">
                  <mat-form-field class="pt-25">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search for problem">
                  </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="category">
                      <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </form>
              <!-- <button mat-button  class="ml-auto" (click)="addProblemDialog()" >Add Problem</button> -->
              <button type="button" class="btn customButton ml-auto" (click)="addProblemDialog()">Add Problem</button>
        </div>
    </div>
    <div class="row problemsListArea ml-r-0 d-flex align-items-stretch justify-content-md-around">
      <div class="col-12 col-md-4 col-lg-3 problemCard d-flex flex-column" *ngFor="let problem of problemList; index as i;" (click)="ShowProblemDtails(problem)">
          <div class="HeaderArea d-flex justify-content-xl-between justify-content-center flex-md-column flex-lg-row flex-wrap">
            <header>{{problem.title}}</header>
            <div class="solved" *ngIf="problem.solved"><span>Solved</span></div>
          </div>
          <div class="discriptionArea">
            <p>
              {{problem.description}}
            </p>
          </div>
      </div>
    </div>
    <div class="row ml-r-0 paginationArea">
      <div class="col-12">
        <nav aria-label="Page navigation problemNavigation">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item">
              <a class="page-link" href="">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</div>
