<mat-dialog-content class="mat-typography">
 <div class="titleArea">
    <label for="problemTitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="problemTitle" placeholder="Add problem title">
 </div>
 <div class="descArea">
  <label for="problemDescription" class="form-label">Description</label>
  <angular-editor [placeholder]="'Enter problem description here...'" [(ngModel)]="htmlContent"></angular-editor>
 </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" class="customButton" cdkFocusInitial>Post your question</button>
</mat-dialog-actions>
