<div class="main-auth p-0 m-0">
    <div class="container h-100">
        <div class=" row align-items-center h-100">
            <div class="col-12">
                <div class="row justify-content-center ">
                    <div class="col-sm-8">
                        <h3 class="text-center"> while(!( succeed = try());</h3>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-sm-8 ">
                        <div class="login-box">
                            <mat-tab-group [disableRipple]="true" dynamicHeight mat-align-tabs="center">
                                <mat-tab label="Login">
                                    <form [formGroup]="loginForm" (ngSubmit)="login();" class="main-form ">
                                        <div class="user-box mt-5">
                                            <input id="user-name" type="text" formControlName="userName">
                                            <label for="user-email">User name<span class="req">*</span></label>
                                            <div *ngIf="submitted && fval.userName.errors" class="invalid-feedback">
                                                <div *ngIf="fval.userName.errors.required"> User name isRequired
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-box">
                                            <input id="msg-text" type="password" formControlName="password">
                                            <label for="msg-text">Password<span class="req">*</span></label>
                                            <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                                                <div *ngIf="fval.password.errors.required">
                                                    passwordisRequired
                                                </div>

                                            </div>
                                        </div>
                                        <button class="btn" type="submit">
                                            <a>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                Submit
                                            </a>
                                        </button>

                                    </form>

                                </mat-tab>
                                <mat-tab label="Sign up">

                                </mat-tab>
                            </mat-tab-group>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>