/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.first-color {
    color: #97375d;
}

.sec-color {
    color: #ff8590;
}

.third-color {
    color: #f4d9d5;
}

.admin-bg {
    background-color: #f7eeec;
}

.mat-tab-label {
    color: #03e9f4 !important;
    font-size: 18px !important;
}
.mat-tab-label-active{
    border-bottom:  1px solid #03e9f4 !important;
}